/* ==========================================================================
   Button
   ========================================================================== */

$button-background: #000;
$button-color: #fff;

$button_hover-background: #555;
$button_hover-color: #fff;


/* ==========================================================================
   Card
   ========================================================================== */

$card-border: 1px solid #ccc;
$card-shadow: 0 5px 5px #eee;
$card__content-padding: 0 1rem 1rem;
$card__cta_hover-background: #f1f1f1;

$card--hz__media-margin: 0;
$card--hz__content-padding: 1rem;


/* ==========================================================================
   Hero
   ========================================================================== */

$hero-background: #ddd;

.silc-nav {
    background-color: $purple;
}
.silc-nav__link{
    &:hover{
        color: $purple
    }
}