/*
 * silc variable overrides
 *
 */

$silc-core--breakpoints: ( ("400", "(min-width: 400px)"), ("517", "(min-width: 517px)"), ("700", "(min-width: 700px)"), ("800", "(min-width: 800px)"), ("974", "(min-width: 974px)"), ("1200", "(min-width: 1200px)")) !default;
$silc-accordion__label-padding: 1rem;
$silc-accordion__label-background: #f1f1f1;
$silc-accordion__content-padding: 1rem;
$silc-accordion__label--hover-background: #ccc;
$silc-accordion__label--active-background: #eee;
$silc-accordion__content-border: 1px solid #eee;
$silc-nav__link--expanded--child-background: #eee;
$silc-nav__link--expanded-padding: 1rem;
$silc-nav__link--expanded--hover-background: #ccc;
$silc-nav__link--expanded--child--hover-background: #ccc;
.silc-nav {
    background: #eee;
}