<nav class="silc-nav">
    <ul>
        <li>
            <a href="#">Item 1</a>
            <ul>
                <li>
                    <a href="#">Item 1.1</a>
                    <ul>
                        <li><a href="#">Item 1.1.1</a></li>
                        <li><a href="#">Item 1.1.2</a></li>
                        <li>
                            <a href="#">Item 1.1.3</a>
                            <ul>
                                <li><a href="#">Item 1.1.3.1</a></li>
                                <li><a href="#">Item 1.1.3.2</a></li>
                                <li><a href="#">Item 1.1.3.3</a></li>
                            </ul>     
                        </li>
                    </ul>
                </li>
           
            </ul>
        </li>
  
    </ul>
</nav>
