@import "~normalize-scss";

// Silc Components
@import "silc/overrides";
@import "~silc-core/src/scss/index";
@import "~silc-grid/src/scss/index";
@import "~silc-accordion/src/scss/index";
@import "~silc-nav/src/scss/index";
@import "~silc-offcanvas/src/scss/index";
@import "~silc-utilities/src/scss/index";

// Core
@import "_core/variables";
@import "_core/base";
@import "_core/typography";
@import "_core/layout";

// Custom Components
@import "components/overrides";
@import "../components/breadcrumb/breadcrumb";
@import "../components/carousel/carousel";
@import "../components/button/button";
@import "../components/card/card";
@import "../components/hero/hero";
@import "../components/share/share";
@import "../components/table/table";
@import "../components/tags/tags";
@import "../components/blockquote/blockquote";
@import "../components/iframe/iframe";
@import "../components/modal/modal";
@import "../components/scrolly/scrolly";

.carousel__slidecontent-{
    background-color: $purple;
    color: #fff;
    padding: rem(30);

    h4{
        color: #fff
    }
}