

.wrapper{
    width: rem(100);
    height: rem(100);
    // border-radius: 100%;
    position: absolute;
    transform: rotate(0deg) ;
    transform-origin:center center;

}
.outer-wrapper{
    position: fixed;
    left: 50%;
    top: 50%;
    width: rem(100);
    height: rem(100);
    transform: translate3d(-50%,-50%,0);

}
.circle{
    width: rem(20);
    height: rem(20);
    border-radius: rem(20);
    background-color: $base-color;
    position: absolute;
    transform-origin:(50,50,0);

}
.scrolly__wrapper{
    width: rem(20);
    height: rem(20);
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate3d(-50%,-50%,0);
}
.section__1{
    background-color: $teal;
    height: 50vh;
}
.section__2{
    background-color: $magenta;
    height: 50vh;
}
.section__3{
    background-color: $blue;
    height: 50vh;
}
.section h2, .section {
    color: #fff;
}