<div class="outer-pad">
    <div class="silc-accordion">
        {% for item in page_block.accordion_item %}
            <section class="silc-accordion__section">
                <header class="silc-accordion__header">
                    <h2 class="silc-accordion__label">{{item.accordion_title}}</h2>
                </header>
                <div class="silc-accordion__content">
                    {{item.accordion_content}}
                </div>
            </section>
        {% endfor %}
    </div>
</div>