{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
		<header class="site-header">
  <div class="compartment">
    <div class="site-header-inner">
	<h1 class="hdr-logo" role="banner">
	
						<a class="site-header-logo" href="{{site.url}}" aria-labelledby="{{site.name}}">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 424.2 160.8">
          <title id="site-title">idfive yearbook</title>
          <defs>
            <style>
              .cls-1 {
                fill: #6638b6
              }
            </style>
          </defs>
          <g id="Layer_2" data-name="Layer 2">
            <g id="Layer_1-2" data-name="Layer 1">
              <path class="cls-1" d="M104.7 106.1a22.8 22.8 0 0 0-.4-5.2C102.6 93.2 96.4 87 87.6 87 74.5 87 68 98.6 68 113s7.7 25.1 19.4 25.1a16.9 16.9 0 0 0 16.7-13.6 32.4 32.4 0 0 0 .6-6.4zm28.4-92.4v117.7c0 10.5.4 21.2.8 27.3h-25.3l-1.1-13.3h-.6c-5.6 10.1-16.8 15.4-28.6 15.4-21.8 0-39.2-18.6-39.2-47-.2-30.7 19.1-48.7 41-48.7 11.5 0 20.1 4.1 24.2 10.3h.4V13.7zM250.2 73v-5.2h42.1V73h-12.4l22.7 63h.5l23.7-63h-14.3v-5.2h31.8V73h-11.2l-32.3 85.7h-8L261.4 73h-11.2zM0 67.8h28.5v90.97H0zM403.5 99.4v-7.8c0-16.3-9.5-21.6-20.9-21.6s-22.5 8-22.5 29.4zm20.5 30.2c-4.5 21.2-20 31.2-40 31.2-23.2 0-44.7-18.5-44.7-46.5s16.9-48.8 44-48.8c23.2 0 40.7 15.7 40.9 40.5h-64.4v9.3c0 22.5 3 40.7 27.8 40.7 13 0 28.2-11.4 31.4-26.4zM239.4 153.4V65.5c-8.3 2-17.3 2.3-25.8 2.3h-33.7V51.2c0-23.4 4.8-46.8 25.2-46.8 4.5 0 12.8 1.6 13.1 5 .1 1.1-3.6 3.3-4.1 7.2-.9 6.6 3.9 11.5 10.3 11.2a9.6 9.6 0 0 0 9.4-9.7c0-14-17.4-18.1-28.2-18.1-24.8 0-43.7 19.3-43.7 56.5v11.3h-17.7V73h17.7v80.4h-17.7v5.3h49.7v-5.3h-14V73h41.5v80.4h-13.8v5.3h45.3v-5.3z"></path>
            </g>
          </g>
        </svg>
      </a>
	</h1>
      
      <div class="site-header-nav">
        <nav class="silc-nav">
         {% include "menu.twig" with {'menu': menu.get_items} %}
        </nav>
      </div>
    </div>
  </div>
</header>

	
		<section id="content" role="main" class="content-wrapper">
			
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
