 <div class="outer-pad">
    <div class="silc-grid">
    {% for item in page_block.card_group %}
        <div class="silc-grid__col silc-grid__col--4-800">
            <div class="card">
                <a href="#" class="card__cta">
                    <div class="card__media">
                        <img src="{{item.card_image}}" alt="">
                    </div>
                     <div class="card__content">
                        <h3>{{item.card_title}}</h3>
                        <p>{{item.card_content}}</p>
                    </div>
                </a>
            </div> 
        </div>
    {% endfor %}
    </div>
  </div>