

<div class="carousel-holder">
  <div class="carousel">
  {% for item in page_block.carousel_slide %}
    <div class="carousel__slide">
      <div class="carousel__slide-image" style="background-image:url('{{item.carousel_image}}')"></div>
      <div class="carousel__slidecontent-">
      <h4>{{item.carousel_title}}</h4>
        <p>{{item.carousel_content}}</p>
      </div>
    </div> 
      {% endfor %}
  </div>
  <div class="carousel__nav">
    <div class="carousel__nav-sizer"></div>
    <div class="carousel__nav-previous" role="button" aria-label="Previous" tabindex="0"></div>
    <div class="carousel__nav-next" role="button" aria-label="Next" tabindex="0"></div>
  </div>
</div>