<div class="post-hero" style="background-image:url('{{page_block.hero_image}}')">
    <div class="silc-hero">
        <div class="outer-pad">
            <div class="silc-hero__content-wrapper">
                <div class="silc-hero__content silc-align--center">
                    <h1>{{page_block.hero_title}}</h1>
                    <p>{{page_block.hero_description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>