{% extends "base.twig" %}
{% block content %}
<div class="max-bound">
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<h1 class="article-h1">{{post.title}}</h1>
				<div class="article-body">
					{{post.content}}
				</div>
			</section>
		</article>
	</div>
	{% if title %}<h1>{{title}}</h1>{% endif %}
       {% for page_block in post.get_field('kitchen_sink') %}
		{% if page_block.acf_fc_layout == 'hero' %}
			{% include 'hero.twig' %}
		{% elseif page_block.acf_fc_layout == 'text_block' %}
			{{page_block.text_box}}
        {% elseif page_block.acf_fc_layout == 'accordion' %}
			{% include 'accordion.twig' %}
        {% elseif page_block.acf_fc_layout == 'button' %}
			{% include 'button.twig' %}
        {% elseif page_block.acf_fc_layout == 'blockquote' %}
			{% include 'blockquote.twig' %}
        {% elseif page_block.acf_fc_layout == 'carousel' %}
			{% include 'carousel.twig' %}
        {% elseif page_block.acf_fc_layout == 'card_row' %}
			{% include 'card_row.twig' %}
        {% elseif page_block.acf_fc_layout == 'card_row_hz' %}
			{% include 'card_row_hz.twig' %}
		{% elseif page_block.acf_fc_layout == 'cta' %}
			{% include 'callout.twig' %}
		{% elseif page_block.acf_fc_layout == 'table' %}
			{% include 'table.twig' %}
		{% endif %}
	{% endfor %}
	
	</div>
{% endblock %}