<section class="outer-pad" title="{{page_block.section_description}}">
	{% set tablepress_wp_post_id = page_block.tablepress_id %}
	{% set table_id = function( 'govex_get_tablepress_table_id', tablepress_wp_post_id ) %}
	{% filter shortcodes %}
		[table id={{ table_id }}]
	{% endfilter %}
</section>