<ul class="tag-list">
  <li class="tag-list__item tag-list__heading">
    <strong>Tags:</strong>
  </li>
  {% for item in page_block.tags_group %}
  <li class="tag-list__item">
    <a href="{{item.tag_link}}" class="tag-list__link">{{item.tag_name}}</a>
  </li>
  {% endfor %}
</ul>