body {
  margin: 0;
  background-color: #fff;
  margin-bottom: 100vw;
}

img {
  max-width: 100%;
}

a {
  color: $link-color;

  &:hover {
    color: $link_hover-color;
  }
}

#footer .max-bound, #footer .outer-pad{
  background-color: transparent;
  a{
    color: #fff
  }
}