.max-bound {
    width: 100%;
    max-width: rem(1196);
    margin: 0 auto;
    background-color: #fff;
}

.outer-pad {
    padding: rem(16) rem(18.75);
    @include media('550') {
        padding: rem(24) rem(28.125);
    }
    @include media('800') {
        padding: rem(48) rem(56.25);
    }
}

.silc-position--relative {
    position: relative;
}

.push--517 {
    @include media('517') {
        transform: translateX(100%);
    }
}

.pull--517 {
    @include media('517') {
        transform: translateX(-100%);
    }
}

.pull--517,
.push--517 {
    @include media('800') {
        transform: none;
    }
}

.fifth-pull-left-974 {
    transform: none;
    @include media('974') {
        transform: translateX(-20%);
    }
}

button,
.main-button,
.main-button--light {
    padding: rem(16) rem(30);
    border-radius: rem(15);
    min-width: rem(50);
}

.main-button {
    background-color: $main-green;
    color: $background-color;
}

.main-button--light {
    border: 2px solid $main-green;
    color: $font-color--dark;
}
#mc_embed_signup_scroll {
    display: block;
    width: 100%;
    max-width: rem(400);
    margin: 0 auto;
}
#mc_embed_signup h3{
    text-align: center
}
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}
$site-header-menu-breakpoint: "800";
.site-header {
  padding: rem(20);
}

.site-header-logo {
  display: block;
  max-width: rem(150);
  width: 100%;
  @include media($site-header-menu-breakpoint) {
    // float: left;
    display: table-cell;
    width: 120px;
  }
}

.site-header-inner {
  @include media($site-header-menu-breakpoint) {
    overflow: hidden;
    display: table;
    width: 100%;
  }
}

.site-header-nav {
    width: 100%;
    color: #fff;
  @include media($site-header-menu-breakpoint) {
    display: table-cell;
    vertical-align: sub;
    float: right;
  }
}

.menu-toggle {
  @include media($site-header-menu-breakpoint) {
    display: none;
  }
}

.main-menu {
  margin: 0;
  padding: 0;
  li {
  }
  a {
    padding: rem(20);
    text-decoration: none;
    font-size: rem(20);
  }
  @include media($site-header-menu-breakpoint) {
    li {
      display: inline-block;
    }
    a {
      padding: rem(20);
    }
  }
}
.site-footer {
    background-color: $purple;
    padding: rem(50) 0;
    color: #fff;
  }
  .svg-hold {
    width: rem(150);
  }
  .social-media {
    .icon {
      display: inline-block;
      width: rem(10);
    }
  }
  .post-hero{
      background-size: cover;
      background-position: center;
  }
 