@import url('https://fonts.googleapis.com/css?family=Bitter:400,400i,700|Quicksand:300,400,500,600,700&display=swap');

%heading-spacing {
    font-family: 'Bitter', serif;
    margin: rem(48) 0 rem(16) 0;
    line-height: 1.1;
    color: $purple;
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}


/* Base
   ========================================================================== */

body {
    font-family: 'Quicksand', sans-serif;
    color: $font-color--dark;
    font-size: rem(16);
    line-height: rem(19);
    @include media('800') {
        font-size: rem(16);
        line-height: rem(21)
    }
}

p {
    margin: $base-margin;
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

ul,
ol {
    margin: $list-margin;
    padding: $list-padding;
    li {
        margin-top: $list-item-top-margin;
        &:first-child {
            margin-top: 0;
        }
    }
    ul,
    ol {
        margin: $list-list-margin;
    }
}

a {
    font-size: rem(16);
    line-height: rem(16);
    @include media('800') {
        font-size: rem(16);
        line-height: rem(21)
    }
}


/* Headings
   ========================================================================== */

h1,
.h1 {
    @extend %heading-spacing;
    font-size: rem(45);
    line-height: rem(52);
    @include media('800') {
        font-size: rem(70);
        line-height: rem(81)
    }
}

h2,
.h2 {
    @extend %heading-spacing;
    font-size: rem(36);
    line-height: rem(42);
    @include media('800') {
        font-size: rem(45);
        line-height: rem(52)
    }
}

h3,
.h3 {
    @extend %heading-spacing;
    font-size: rem(24);
    line-height: rem(28);
    @include media('800') {
        font-size: rem(32);
        line-height: rem(37)
    }
}

h4,
.h4 {
    font-size: rem(18);
    line-height: rem(21);
    @extend %heading-spacing;
    @include media('800') {
        font-size: rem(24);
        line-height: rem(24)
    }
}

h5,
.h5 {
    @extend %heading-spacing;
    font-size: rem(18);
    line-height: rem(21);
    @include media('800') {
        font-size: rem(26);
        line-height: rem(27)
    }
}

h6,
.h6 {
    @extend %heading-spacing;
}

.caption,
.quote {
    font-style: italic;
}

.caption {
    font-size: rem(24);
    font-weight: semibold;
    color: $font-color--light;
    @include media('550') {
        font-size: rem(12);
    }
}

.quote {
    font-size: rem(16);
    font-weight: regular;
    color: $main-green;
    @include media('550') {
        font-size: rem(24);
    }
}