/* ==========================================================================
   Typography
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i|Oswald&display=swap');

/* Base
   ========================================================================== */

$base-line-height: 1.2;
$base-font-size: 16px;
$base-font-family: sans-serif;
$base-color: #000;
$base-margin: 1rem 0;
$link-color: #000;
$link_hover-color: #000;

/* Lists
   ========================================================================== */

$list-margin: $base-margin;
$list-padding: 0 1.5rem;
$list-list-margin: .25rem 0;
$list-item-top-margin: rem(4);

/* Colors
   ========================================================================== */

$background-color: #F8ECF6;
$main-green: #027175;
$font-color--dark: #101935;
$font-color--light: #a7a7a7;
$purple:#6638b6;
$teal:#21b7a8;
$magenta:#AD1BAC;
$blue:#0957C3;

/* Headings
   ========================================================================== */


/* ==========================================================================
   Layout
   ========================================================================== */


/* Outer-pad
   ========================================================================== */


/* Section
   ========================================================================== */