<div class="silc-accordion silc-accordion--{{modifier}}" id="{{id}}">
  {{#each sections}}
  <div class="silc-accordion__section">
    <button id="{{../id}}-section-{{@index}}-label" class="silc-accordion__label" aria-controls="{{../id}}-section-{{@index}}-content">
      {{title}}
    </button>
    <div class="silc-accordion__content" id="{{../id}}-section-{{@index}}-content" aria-labelled-by="{{../id}}-section-{{@index}}-label">
      <div class="silc-accordion__content-compartment">
        {{{content}}}
      </div>
    </div>
  </div>
  {{/each}}
</div>
